<script>
  function sendPOSTRequest(endpoint,body) {
    fetch(endpoint, {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(body)
    }).then(response => {
      if (!response.ok) {throw new Error('Network response was not ok');}
      return response.json();
    }).then(data => {
      console.log(data);
    }).catch(error => {console.error('There has been a problem with your fetch operation:', error);});
  }
  
  function addMemory() {
    data = {"title":document.getElementById("form_title").value,
        "desc": document.getElementById("form_desc").value}
    sendPOSTRequest("/add_memory",data)
    // Redirect to root / view page
    window.location.replace("/");
  
  }
  </script>
  
  <form class="mt-5">
    <label for="form_title" class="label is-medium">Title:</label>
    <input type="text" id="form_title" name="fname" value="John" class="input is-medium">
    <label for="form_desc" class="label mt-5 is-medium">Description:</label>
    <textarea cols="60" rows="6"  id="form_desc" class="textarea is-medium mb-5"></textarea>
    <input type="button" onclick="addMemory()" id="form_submit" value="Add Memory" class="button is-link is-medium">
  </form> 