{% extends 'base.html' %}

{% block content %}
<h3>{% block title %} Index {% endblock %}</h3>
<p>Hello, World!</p>
{% endblock %}
<script>

function displayMemoryInfo() {
    fetch('/get', {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify({'id':event.srcElement.dataset.memoryid})
    }).then(response => {
      if (!response.ok) {throw new Error('Network response was not ok');}
      return response.json();
    }).then(data => {
		document.getElementById("update_form_id").value = data["id"];
		document.getElementById("update_form_title").value = data["title"];
		document.getElementById("update_form_desc").value = data["desc"];
    }).catch(error => {
      console.error('There has been a problem with your fetch operation:', error);
    });
}

function sendPOSTRequest(endpoint,body) {
	fetch(endpoint, {
	  method: 'POST',
	  headers: {'Content-Type': 'application/json'},
	  body: JSON.stringify(body)
	}).then(response => {
	  if (!response.ok) {throw new Error('Network response was not ok');}
	  return response.json();
	}).then(data => {
	  console.log(data);
	}).catch(error => {console.error('There has been a problem with your fetch operation:', error);});
}

function addMemory() {
	data = {"title":document.getElementById("form_title").value,
			"desc": document.getElementById("form_desc").value}
	sendPOSTRequest("/add",data)
}

function updateMemory() {
    data = {"title":document.getElementById("update_form_title").value,
            "id": document.getElementById("update_form_id").value,
            "desc": document.getElementById("update_form_desc").value}
    sendPOSTRequest("/update",data)
}

</script>
<h1>MemKeeper</h1>
<p>The memory folder has {{ num_items }} items.</p>

<form>
  <label for="update_form_id">ID:</label><br>
  <input type="text" id="update_form_id"><br>
  <label for="update_form_title">Title:</label><br>
  <input type="text" id="update_form_title"><br>
  <label for="update_form_desc">Description:</label><br>
  <textarea cols="60" rows="6"  id="update_form_desc"></textarea><br><br>
  <input type="button" onclick="updateMemory()" id="update_form_submit" value="Submit">
</form>

<hr>
<table>
	<th>Memory Titles</th>
	{% for id,title in ids_titles.items() %}
	<tr><td><a href='#' data-memoryid="{{id}}" onclick="displayMemoryInfo()">{{ title }}</a></td></tr>
	{% endfor %}
</table>

<form>
  <label for="form_title">Title:</label><br>
  <input type="text" id="form_title" name="fname" value="John"><br>
  <label for="form_desc">Description:</label><br>
  <textarea cols="60" rows="6"  id="form_desc"></textarea><br><br>
  <input type="button" onclick="addMemory()" id="form_submit" value="Submit">
</form> 
<hr>

<button onclick="sendPOSTRequest('/test_post',{title: 'value1',desc: 'value2'})">Send Test POST Request</button>
<button onclick="sendPOSTRequest('/add',{title: 'value1',desc: 'value2'})">Add a Memory</button>
<button onclick="sendPOSTRequest('/get',{id:'example'})">Get Data From a Memory</button>
<button onclick="sendPOSTRequest('/update',{id:'example',title:'a new title', desc:'a new desc'})">Update a Memory</button>

</body>
</html>
