<script>
	function updateHTML(data) {

		document.getElementById("title").innerHTML = data["title"];
		document.getElementById("desc").innerHTML = data["desc"];
		document.getElementById("dt").innerHTML = data["dt"];
		document.getElementById("img").setAttribute('src', data.img_paths[0]); 
 }
 
 function viewMemory(e) {
		 data = {"id":e.getAttribute("data-memoryid")}
		 requestData("/memory/get",data)
 }
</script>

<!-- <div id="mem_item"></div> -->
<div>
	<h2 id="title"></h2>
	<p id="desc"></p> 
	<p id="dt"></p>
	<img src="" id="img" alt="" />
</div>

<!-- TODO: pull data into tags instead of via js function above
<div>
	<h2 id="title" class="subtitle">{{ desc }}</h2>
	<p id="desc">{{ desc }}</p> 
	<p id="dt">{{ dt }}</p>
	<p id="img">{{ created_dt }}</p>
</div> -->
