{% extends 'base.html' %}

{% set active_page = "view" %}
{% block title %}View Memories{% endblock %}

{% block content %}
<script>
function requestData(endpoint,body) {
    fetch(endpoint, {
      method: 'POST',
      headers: {'Content-Type': 'application/json'},
      body: JSON.stringify(body)
    }).then(response => {
      if (!response.ok) {throw new Error('Network response was not ok');}
      return response.json();
    }).then(data => {
	  updateHTML(data)
    }).catch(error => {console.error('There has been a problem with your fetch operation:', error);});
}

function toggleMemoryList() {
   document.getElementById("mem_list").hidden = !document.getElementById("mem_list").hidden;
}
</script> 
<div class="grid grid-cols-3 wrapper">
	<div class="memory-form-col">
		<div class="memory-form">
			<div class="brand">MemKeeper</div>
			<label class="checkbox">
				<input type="checkbox" onchange="toggleMemoryList()" />
				Toggle memories
			</label>
			<h2 class="title">Add New</h2>
			{% include "add_form.html" %}
		</div>
	</div>
	<div class="memories">
		<div id="mem_list" class="prose">
			<h1 class="title">Memories</h1>
			<div class="columns">
			{% for id,memory in memories.items() %}
			<div class="column">
				<div class="card">
					<article class="prose card-content">
						<h2>
							<a data-memoryid="{{ memory.id }}" onclick="viewMemory(this)">{{ memory.title }}</a>
						</h2>
						<p>{{ memory.desc }}</p> 
						<p>{{ memory.dt }}</p>
						<p>{{ memory.created_dt }}</p>
						<img src="{{memory.img_paths[0]}}" />
					</article>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
		{% include "view_single.html" %}
	</div>
</div>

{% endblock %}
